#carrousel-container{
  width: 100%;
  max-width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
 
}

#carrousel-container img {
    width: 100%;         /* Chaque image occupe toute la largeur du conteneur */
    height: 100%;        /* Laisse la hauteur s'ajuster automatiquement pour maintenir le ratio */
    object-fit: cover;   /* L'image va couvrir tout le conteneur sans déformation */
  }
